.signup {
  min-height: 100vh;
  margin-top: 130px;
}

.signup_form {
  margin: auto;
  padding: 30px 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_title_container {
  width: 560px;
}

.signup_title {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: var(--font-size-title);
}

.input_container {
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.input_title {
  width: 125px;
  font-size: 18px;
}

.input {
  width: 435px;
  height: 40px;
  font-size: var(--font-size-normal);
  border: 1px solid var(--color-light-border);
  padding: 4px 6px;
  outline: none;
  border-radius: 0;
}

.input:focus {
  border: 1px solid var(--color-skyblue);
}

.phone_num_input {
  width: 280px;
  border-radius: 0;
}

.id_redup_check_button,
.get_auth_num_button {
  width: 135px;
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  background-color: var(--color-theme);
  font-size: var(--font-size-normal);
  color: white;
  height: 40px;
  cursor: pointer;
}

.agree_part {
  margin-top: 50px;
}

.all_agree {
  margin-left: 4px;
  margin-bottom: 10px;
}

.all_agree_desc {
  font-weight: 500;
}

.separate_agree_container {
  width: 560px;
  margin-top: 12px;
  padding: 20px 20px 20px 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px var(--color-light-border);
}

.separate_agree_top {
  margin-bottom: 12px;
}

.all_agree,
.separate_agree {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.agree_input {
  width: 16px;
  height: 16px;
  margin: 2px 6px 0 8px;
}

.icon_container {
  position: absolute;
  right: 10px;
}

.icon {
  font-size: 14px;
  color: var(--color-desc);
  cursor: pointer;
}

.submit_button {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 560px;
  height: 60px;
  border: none;
  outline: none;
  background-color: var(--color-theme);
  color: white;
  font-size: var(--font-size-mini-title);
  cursor: pointer;
}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.signup_popup {
  width: 800px;
  height: 700px;
  padding: 30px 40px 40px 40px;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

.signup_popup_container {
  padding: 0 20px;
  overflow-y: scroll;
  height: 92%;
  box-shadow: 2px 3px 5px lightgray;
}

.signup_popup_text {
  white-space: pre-line;
}

.popup_title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
}

.close_icon {
  position: absolute;
  top: 28px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
  transition: 120ms all ease-in;
}
.close_icon:hover {
  color: red;
}

@media screen and (max-width: 780px) {
  .signup {
    width: 100%;
    margin-top: 80px;
  }
  .signup_form {
    width: 100%;
    padding: 20px;
  }

  .signup_title {
    font-size: var(--font-size-mini-title);
    font-weight: 500;
  }

  .input_part {
    width: 100%;
  }

  .signup_title_container {
    width: 100%;
  }

  .input_container {
    width: 100%;
  }
  .input_title {
    width: 28%;
    font-size: var(--font-size-small);
  }
  .input {
    width: 70%;
    font-size: var(--font-size-small);
  }

  .id_redup_check_button,
  .get_auth_num_button {
    width: 30%;
    font-size: var(--font-size-mobile-small);
  }

  .phone_num_input {
    width: 40%;
  }

  .separate_agree_container {
    width: 100%;
  }

  .agree_part {
    width: 100%;
  }

  .submit_button {
    width: 100%;
  }

  .signup_popup {
    width: 80%;
    height: 73vh;
    margin-top: 5vh;
    padding: 0;
  }

  .popup_title {
    padding: 3.5vh 20px 0 20px;
    font-size: 18px;
  }

  .signup_popup_container {
    box-shadow: none;
    height: 55vh;
  }
}
