.articlePreview {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  color: rgb(77, 77, 77);
  border-bottom: 2px solid rgb(235, 235, 235);

  font-weight: 400;
  font-size: 16px;
  color: var(--color-article);
  animation: appear 0.6s;
}

.q_container {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem 1rem 1.5rem;
  cursor: pointer;
}

.q_container:hover {
  background-color: rgb(247, 247, 247);
}

.q {
  flex-basis: 5%;
}

.type {
  flex-basis: 25%;
}

.title {
  flex-basis: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-white-space: nowrap;
  overflow: hidden;
}

.date {
  flex-basis: 15%;
  text-align: center;
}

.report_container {
  flex-basis: 5%;
  text-align: center;
  transition: 150ms all ease-in;
}

.detail_off {
  display: none;
}

.detail_on {
  display: block;
  animation: appear 0.6s;
}

.content {
  padding: 20px 2%;
  background-color: var(--color-smoke-white);
  border-radius: 4px;
  white-space: pre-line;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
