.find_id_form {
  width: 500px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 5px 5px 10px lightgray;
  padding: 30px;
  animation: appear 0.6s;
}

.find_id_title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 50px;
}

.phone_num_container {
  height: 30px;
  margin: 60px 0 60px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.phone_num_text {
  width: 100px;
  margin: 0;
}

.phone_num_input {
  width: 300px;
  height: 30px;
  margin: 0;
  padding: 2px 6px;
  font-size: var(--font-size-normal);
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
}

.submit_button_container {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.submit_button {
  width: 50%;
  border: none;
  background-color: var(--color-theme);
  color: white;
  font-size: var(--font-size-normal);
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.find_id_result_container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find_id_result {
  font-size: var(--font-size-big);
  font-weight: 500;
}

.result_id {
  color: var(--color-light-blue);
}

.go_login_button {
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: var(--color-theme);
  color: white;
  padding: 10px 15px;
  font-size: var(--font-size-normal);
  border-radius: 4px;
  cursor: pointer;
}

.loading_spinner_container {
  margin-top: 70px;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  .find_id {
    background-color: white;
    width: 85%;
    margin-bottom: 40px;
  }

  .find_id_form {
    width: 100%;
    height: 230px;
    margin: auto;
    padding: 30px 20px;
  }

  .find_id_title {
    margin-bottom: 0;
  }

  .phone_num_container {
    margin: 30px 0 50px 0;
    justify-content: space-between;
  }

  .phone_num_text {
    width: 33%;
  }

  .phone_num_input {
    width: 66%;
    font-size: var(--font-size-small);
  }
  .submit_button_container {
    margin-top: 0;
  }
  .submit_button {
    min-width: 130px;
    font-size: var(--font-size-small);
  }
}
