.item {
  margin-bottom: 30px;
}

.attraction_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 230px;
  margin-bottom: 1px;
  background-color: white;
  box-shadow: 0 0 5px lightgray;
  border-radius: 8px;
  cursor: pointer;
}

.attraction_container:hover {
  background-color: rgb(253, 253, 253);
}

.image_container {
  width: 300px;
  height: 200px;
  box-shadow: 0 0 5px lightgray;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.data_container {
  width: 60%;
}

.badge_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.badge,
.badge_count {
  padding: 2px 16px;
  background-color: var(--color-admin-theme);
  text-align: center;
  color: white;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: -2px;
  margin-right: 16px;
  box-shadow: 1px 2px 3px lightgray;
}

.name {
  margin: 0;
  font-size: var(--font-size-big);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.content {
  margin: 0;
  margin-top: 12px;
  color: var(--color-desc);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.user {
  margin: 0;
  margin-top: 20px;
  font-size: var(--font-size-small);
  color: var(--color-desc);
}

.button_container {
  width: 14%;
  text-align: center;
}

.delete_button {
  width: 70%;
  height: 40px;
  outline: none;
  border: none;
  background-color: var(--color-admin-theme);
  color: white;
  font-size: var(--font-size-normal);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 2px 3px lightgray;
  transition: 140ms all ease-in;
}

.delete_button:hover {
  background-color: red;
}
