.service_intro {
  margin-top: 120px;

  animation: appear 1s;
}

.title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 40px;
}

.route_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_icon,
.home_icon_container,
.arrow_icon,
.route_button {
  margin: 0 15px;
  color: var(--color-desc);
  font-weight: 300;
}

.home_icon_container,
.route_button {
  cursor: pointer;
}

.our_service_container {
  min-height: 500px;
  margin-top: 150px;
}

.our_service_title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 0;
}

.our_service_subtitle {
  text-align: center;
  margin: 6px 0 50px 0;
  font-size: var(--font-size-small);
  color: var(--color-desc);
}

.our_service_content_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  margin-top: 100px;
  margin-bottom: 150px;
}

.service_content_left {
  flex-basis: 47%;
  height: 400px;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-shadow: 0 0 10px lightgray;
  background: url("../../../background_images/service_left.jpeg") center/cover
    no-repeat;
}

.service_content_right {
  flex-basis: 47%;
  height: 400px;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-shadow: 0 0 10px lightgray;
  background: url("../../../background_images/service_right.png") center/cover
    no-repeat;
}

.content_top_text {
  margin: 0;
  font-weight: 700;
  font-size: var(--font-size-big);
}

.content_title {
  font-size: var(--font-size-mini-title);
  font-weight: 500;
  margin: 8px 0;
}

.content_desc {
  font-size: var(--font-size-big);
  font-weight: 300;
}
.mission_container {
  height: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  background: url("../../../background_images/service_middle.png") center/cover
    no-repeat;
}

.mission_container_title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 0;
}

.mission_container_subtitle {
  text-align: center;
  margin-top: 6px;
  font-size: var(--font-size-small);
  color: var(--color-desc);
}

.mission_main {
  width: 100%;
}

.mission_video_container {
  width: 100%;
  margin-top: 20px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
