.service_intro {
  margin-top: 120px;
}

.our_service_container {
  min-height: 500px;
}

.our_service_title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 0;
}

.our_service_subtitle {
  text-align: center;
  margin: 6px 0 50px 0;
  font-size: var(--font-size-small);
  color: var(--color-desc);
}

.our_service_content_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

.our_service_content {
  flex-basis: 45%;
}

.service_image {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  box-shadow: 0 0 10px lightgray;
}

.service_desc {
  text-align: center;
}

.mission_container {
  background-color: var(--color-smoke-white);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.mission_container_title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 0;
}

.mission_container_subtitle {
  text-align: center;
  margin-top: 6px;
  font-size: var(--font-size-small);
  color: var(--color-desc);
}

.mission_main {
  width: 100%;
}

.mission_video_container {
  width: 100%;
  margin-top: 20px;
}

.go_youtube_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgb(255, 0, 5);
  color: white;
  font-size: var(--font-size-big);
  width: 160px;
  height: 45px;
  border-radius: 8px;
  cursor: pointer;
  transition: 120ms all ease-in;
}

.youtube_a_tag {
  text-decoration: none;
}
.go_youtube_button_text {
  margin-left: 4px;
  font-weight: 700;
}

.go_youtube_button:hover {
  transform: scale(1.05);
}
