.program_item {
  width: 250px;
  text-align: center;
  margin: 0 15px 40px 15px;
  animation: appear 0.6s;
}

.item_image {
  width: 100%;
}

.title {
  font-size: var(--font-size-big);
  font-weight: 500;
  margin: 0;
}

.subtitle {
  font-size: var(--font-size-small);
  color: var(--color-desc);
  margin: 3px 0 5px 0;
}

.location {
  font-size: var(--font-size-normal);
  margin: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-1.5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
