.program_detail {
  margin-top: 78px;
}

.top_banner {
  min-height: 30vh;
  background: url("../../../background_images/about_top_banner.png")
    center/cover no-repeat;
}

.select_bar_container {
  height: 6vh;
  background-color: var(--color-theme);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 5px 10px lightgray;
}

.select_button {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
  animation: selected 1s;
}

.on {
  color: black;
  background-color: white;
}

.title {
  margin-top: 120px;
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 40px;
}

.route_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.home_icon,
.home_icon_container,
.arrow_icon,
.route_button {
  margin: 0 15px;
  color: var(--color-desc);
  font-weight: 300;
}

.home_icon_container,
.route_button {
  cursor: pointer;
}

.program_detail_main {
  animation: appear 0.6s;
  background-color: #fafafa;
  width: 95%;
  border-radius: 16px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 200px;
}

.image_container {
  flex-basis: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 70%;
}

.text_container {
  flex-basis: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_data_box {
  width: 80%;
}

.title {
  font-size: var(--font-size-little-big-title);
  font-weight: 500;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
