.program_detail {
  margin-top: 78px;
}

.top_banner {
  min-height: 30vh;
  background: url("../../../background_images/about_top_banner.png")
    center/cover no-repeat;
}

.select_bar_container {
  height: 6vh;
  background-color: var(--color-theme);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 5px 10px lightgray;
}

.select_button {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
  animation: selected 1s;
}

.on {
  color: black;
  background-color: white;
}

.program_detail_main {
  animation: appear 0.6s;
  background-color: #fafafa;
  width: 85%;
  height: 670px;
  border-radius: 16px;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 90px;
  box-shadow: 0 0 6px lightgray;
}

.image_container {
  flex-basis: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 70%;
}

.text_container {
  flex-basis: 50%;
  padding: 90px 50px 0 50px;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.text_data_box {
  width: 80%;
}

.name {
  font-size: var(--font-size-little-big-title);
  font-weight: 500;
  width: 100%;
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.price {
  font-size: var(--font-size-title);
  font-weight: 700;
  color: var(--color-light-blue);
  margin-top: 0;
  margin-bottom: 16px;
}

.rate_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rate_data {
  margin-left: 16px;
  margin-top: 4px;
  font-size: var(--font-size-big);
  font-weight: 500;
  color: var(--color-desc);
}

.review_count_text {
  text-decoration-line: underline;
  font-size: var(--font-size-small);
  color: var(--color-lightgray);
  margin-left: 50px;
  margin-top: 4px;
}

.content {
  margin: 50px 0;
  width: 100%;
  color: var(--color-desc);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.button_container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reservation_button,
.inquire_button {
  width: 47.5%;
  height: 45px;
  outline: none;
  border: none;
  background-color: var(--color-skyblue);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 0 6px lightgray;
  cursor: pointer;
  transition: 100ms all ease-in;
}

.reservation_button:hover,
.inquire_button:hover {
  background-color: var(--color-light-blue);
}

.detail_content_container {
  width: 85%;
  margin: auto;
  margin-bottom: 90px;
  animation: appear 0.6s;
}

.detail_content_main {
  width: 100%;
  min-height: 40vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail_content_main_image {
  border-radius: 8px;
  box-shadow: 1px 2px 3px lightgray;
}

.detail_content_text {
  width: 90%;
  margin-top: 100px;
  white-space: pre-line;
  font-size: var(--font-size-normal);
}

.review_container {
  width: 85%;
  margin: auto;
  margin-bottom: 90px;
  animation: appear 0.6s;
}

.review_top_container {
  height: 61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-big);
  color: var(--color-desc);
  padding: 14px 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 3px 8px var(--color-light-divide-line);
  margin-bottom: 20px;
}

.review_top_data_count {
  margin: 0;
}

.review_top_data_rate {
  margin: 4px 0 0 16px;
  font-weight: 500;
}

.review_top_data_slash {
  margin: 0 14px;
  font-size: var(--font-size-normal);
}

.review_top_data_rate {
  margin-left: 8px;
}

.no_review {
  text-align: center;
  margin-top: 45px;
  font-size: var(--font-size-big);
  color: var(--color-desc);
}

.review_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.stat_container {
  flex-basis: 27%;
  height: 550px;
  box-shadow: 1px 3px 8px var(--color-light-divide-line);
  padding: 30px;
  border-radius: 16px;
}

.review_items_container {
  flex-basis: 70%;
  box-shadow: 1px 3px 8px var(--color-light-divide-line);
  padding: 0 20px;
  border-radius: 16px;
}

.stat_title {
  font-size: var(--font-size-mini-title);
  font-weight: 700;
  margin: 0;
}

.stat_all_avg_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0 0 0;
}

.stat_separate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stat_all_avg {
  margin: 0;
  margin-top: 3px;
  margin-left: 16px;
  font-size: var(--font-size-mini-title);
  font-weight: 700;
}

.stat_review_count {
  margin: 8px 0 32px 0;
  font-weight: 700;
}

.stat_bar_background {
  width: 60%;
  height: 30px;
  margin: 0 14px;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  box-shadow: 1px 2px 3px lightgray;
}

.stat_bar_color {
  height: 30px;
  background-color: rgb(255, 123, 84);
  border-radius: 4px;
}

.inquire_top_container {
  height: 61px;
  width: 85%;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 1px 3px 8px var(--color-light-divide-line);
  border-radius: 4px;
  padding: 16px;
}

.inquire_title {
  margin: 0;
  margin-left: 4px;
  font-size: var(--font-size-big);
  font-weight: 500;
}

.inquire_main_container {
  width: 85%;
  margin: auto;
  box-shadow: 1px 3px 8px var(--color-light-divide-line);
  border-radius: 16px;
  padding: 50px;
  margin-bottom: 200px;
}

.type_select_container,
.title_input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.content_input_container {
  margin-top: 40px;
}

.type_text,
.title_text,
.content_text {
  width: 38px;
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
}

.type_select {
  height: 40px;
  font-size: var(--font-size-normal);
  padding: 0 4px;
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
}
.title_input {
  height: 40px;
  padding: 4px 6px;
  font-size: var(--font-size-normal);
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
}

.content_input {
  width: 100%;
  height: 250px;
  resize: none;
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
  font-size: var(--font-size-normal);
  padding: 4px 6px;
}

.button_and_time_select {
  width: 73%;
  position: absolute;
  bottom: 60px;
}

.time_select {
  width: 100%;
  height: 30px;
  font-size: var(--font-size-normal);
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
  background-color: white;
}
.submit_button_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.submit_button {
  outline: none;
  border: none;
  background-color: var(--color-theme);
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: var(--font-size-normal);
  margin-top: 10px;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1250px) {
  .home_icon,
  .home_icon_container,
  .arrow_icon,
  .route_button {
    font-size: var(--font-size-small);
    margin: 0 8px;
  }

  .program_detail_main {
    flex-direction: column;
    height: auto;
    width: 90%;
  }

  .image_container {
    padding-right: 50px;
    padding-bottom: 20px;
  }

  .text_container {
    padding-top: 0;
    padding-left: 0;
  }

  .name {
    font-size: var(--font-size-big);
  }

  .price {
    font-size: var(--font-size-mini-title);
  }

  .content {
    font-size: 15px;
    margin-top: 20px;
  }

  .button_and_time_select {
    width: 80%;
    position: static;
    margin-bottom: 80px;
  }

  .detail_content_main {
    padding: 0;
  }

  .detail_content_main_image {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  .detail_content_text {
    margin-top: 40px;
  }

  .review_container {
    width: 90%;
  }
  .review_top_container {
    font-size: var(--font-size-normal);
  }

  .stat_title {
    font-size: var(--font-size-big);
  }
  .stat_all_avg {
    font-size: var(--font-size-big);
  }

  .no_review {
    font-size: var(--font-size-normal);
  }

  .inquire_top_container {
    width: 90%;
  }
  .inquire_main_container {
    width: 90%;
  }
}

@media screen and (max-width: 1050px) {
  .stat_all_avg {
    margin-left: 8px;
  }

  .review_main {
    flex-direction: column;
    margin-top: 20px;
  }

  .stat_container {
    margin-bottom: 20px;
  }

  .stat_separate {
    width: 100%;
  }
  .stat_bar_background {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .inquire_main_container {
    margin-bottom: 100px;
  }
  .program_detail {
    margin-top: 64px;
  }
  .program_detail_main {
    width: 100%;
    border-radius: 0;
    overflow-x: hidden;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 1px;
    animation: none;
  }
  .image_container {
    padding-bottom: 0;
  }
  .text_data_box {
    width: 80%;
  }
  .button_container {
    width: 100%;
  }
  .review_container {
    width: 100%;
    background-color: white;
    padding: 30px 3% 60px 3%;
    margin-bottom: 20px;
  }

  .button_and_time_select {
    width: 80%;
  }

  .price {
    font-size: var(--font-size-big);
  }

  .inquire_top_container {
    width: 95%;
    margin-bottom: 10px;
  }
  .inquire_main_container {
    width: 95%;
    padding: 20px;
  }

  .content_input_container {
    margin-top: 20px;
  }

  .title_text,
  .content_text {
    font-size: var(--font-size-small);
  }

  .title_input {
    height: 32px;
    font-size: var(--font-size-small);
  }

  .content_input {
    height: 200px;
    font-size: var(--font-size-small);
  }

  .inquire_top_container {
    height: 50px;
    padding: 12px;
  }

  .inquire_title {
    font-size: var(--font-size-normal);
  }
  .review_top_container {
    height: 50px;
  }
  .review_top_data_rate {
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .program_detail_main {
    overflow-x: hidden;
    box-shadow: none;
    margin-bottom: 0;
  }

  .image_container {
    padding-bottom: 20px;
  }

  .name {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .price {
    margin-bottom: 4px;
  }
  .rate_container {
    flex-direction: column;
    align-items: flex-start;
  }

  .review_count_text {
    margin: 10px 0;
  }

  .image_container {
    padding-bottom: 0;
  }
  .text_container {
    padding: 0;
  }

  .content {
    margin-top: 18px;
    margin-bottom: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }

  .review_container {
    background-color: white;
  }

  .detail_content_container {
    width: 100%;
  }

  .detail_content_main_image {
    margin: 30px 0 0 0;
  }

  .detail_content_text {
    margin-top: 30px;
  }

  .review_top_container {
    margin-bottom: 0;
  }

  .review_main {
    margin-top: 20px;
  }

  .stat_container {
    padding: 30px 20px;
  }

  .stat_bar_background {
    width: 70%;
  }
}
