.notice {
  min-height: 100vh;
  animation: appear 0.6s;
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-height: calc(100vh - 246px);
  margin: auto;
  margin-bottom: 150px;
  margin-top: 70px;
}

.top {
  margin-bottom: 32px;
  padding: 0 4px;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
}

.search_text_input {
  width: 85%;
  height: 45px;
  font-size: 16px;
  outline: none;
  padding-left: 8px;
  border: 1px solid var(--color-light-border);
}

.search_text_input:focus {
  border: 1px solid var(--color-skyblue);
}

.search_button {
  width: 8%;
  height: 45px;
  margin-left: 20px;
  border: none;
  background-color: var(--color-theme);
  outline: none;
  font-size: var(--font-size-normal);
  color: white;
  cursor: pointer;
  transition: 150ms all ease-in;
}

.button_container {
  flex-basis: 10%;
}

.write_button {
  outline: none;
  border: 1px solid var(--color-input-border);
  width: 100%;
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-theme);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px lightgray;
  transition: all 120ms ease-in;
}

.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  font-weight: bolder;
  color: rgb(77, 77, 77);
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 2px solid var(--color-light-border);
  font-weight: 400;
  font-size: 16px;
}

.header_item {
  height: 32px;
  margin: 0;
  margin-right: 20px;
  color: var(--color-lightgray);
  cursor: pointer;
}

.header_on {
  color: black;
  border-bottom: 3px solid black;
}

.bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 30px;
}

.page_numbers {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.page_number {
  padding: 0 1rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.page_on {
  color: var(--color-skyblue);
}

.upload_box {
  position: relative;
}

.write_button {
  background-color: #39a2e8;
  border: none;
  border-radius: 4px;
  width: 5.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  transition: all 100ms ease-in;
  color: white;
  position: absolute;
  right: 30px;
}

.write_button:hover {
  transform: scale(1.03);
}

.write_a {
  color: white;
}

.report_filter {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(95, 95, 95);
  opacity: 0.7;
}

.arrow {
  margin: 0 1rem;
  font-size: 1.1rem;
  color: var(--color-desc);
  cursor: pointer;
  transition: 100ms all ease-in;
}

.arrow:hover {
  color: black;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
