.custom_paging_container .slick-slider,
.custom_paging_container .slick-list,
.custom_paging_container .slick-track {
  width: 500px;
  height: 570px;
}

.custom_paging_container .slick-slider {
  transform: translateY(-100px);
}
.custom_paging_container .slick-active .slick-current {
  width: 500px;
  height: 500px;
}

.slick-slide .image {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 10px;
}

.slick-dots .dot_image,
.slick-dots li {
  width: 100px;
  height: 80px;
  box-shadow: 0 0 5px lightgray;
}

.slick-dots {
  transform: translateY(50px);
}
