.search_result {
  min-height: 100vh;
  margin-top: 78px;
  background-color: white;
}

.customer_top_banner {
  min-height: 30vh;
  background: url("../../../../background_images/about_top_banner.png")
    center/cover no-repeat;
}

.select_bar_container {
  height: 6vh;
  background-color: var(--color-theme);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 5px 10px lightgray;
}

.select_button {
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
  animation: selected 1s;
  color: black;
  background-color: white;
}

.search_title {
  margin-top: 120px;
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 40px;
}

.route_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_icon,
.home_icon_container,
.arrow_icon,
.route_button {
  margin: 0 15px;
  color: var(--color-desc);
  font-weight: 300;
}

.home_icon_container,
.route_button {
  cursor: pointer;
}

.qna {
  min-height: 100vh;
  animation: appear 0.6s;
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-height: calc(100vh - 246px);
  margin: auto;
  margin-bottom: 150px;
  margin-top: 70px;
}

.top {
  margin-bottom: 40px;
  padding: 0 4px;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search_text_input {
  width: 70%;
  height: 45px;
  font-size: 16px;
  outline: none;
  padding: 0 8px;
  border: 1px solid var(--color-light-border);
  margin: 0 20px;
  border-radius: 0;
}

.search_text_input:focus {
  border: 1px solid var(--color-skyblue);
}

.search_button {
  width: 8%;
  height: 45px;
  border: none;
  background-color: #39a2e8;
  outline: none;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: 150ms all ease-in;
}

.button_container {
  flex-basis: 10%;
}

.write_button {
  outline: none;
  border: 1px solid var(--color-input-border);
  width: 100%;
  height: 35px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-theme);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px lightgray;
  transition: all 120ms ease-in;
}

.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  font-weight: bolder;
  color: rgb(77, 77, 77);
  border: 3px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 198, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 198, 121, 1) 0%,
    rgba(0, 198, 121, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 198, 121, 1) 100%
  );
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  color: #00c67a;
}

.division {
  flex-basis: 10%;
  text-align: center;
}

.header_title {
  margin-left: 50px;
  flex-basis: 60%;
}

.writer {
  flex-basis: 15%;
  text-align: center;
}

.date {
  flex-basis: 15%;
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 30px;
}

.page_numbers {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.page_number {
  padding: 0 1rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.page_on {
  color: var(--color-skyblue);
}

.upload_box {
  position: relative;
}

.write_button {
  background-color: #39a2e8;
  border: none;
  border-radius: 4px;
  width: 5.2rem;
  height: 2.2rem;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 1.5rem;
  transition: all 100ms ease-in;
  color: white;
  position: absolute;
  right: 30px;
}

.write_button:hover {
  transform: scale(1.03);
}

.write_a {
  color: white;
}

.report_filter {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(95, 95, 95);
  opacity: 0.7;
}

.arrow {
  margin: 0 1rem;
  font-size: 1.1rem;
  color: var(--color-desc);
  cursor: pointer;
  transition: 100ms all ease-in;
}

.arrow:hover {
  color: black;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  .search_result {
    margin-top: 64px;
  }
  .search_title {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .home_icon,
  .home_icon_container,
  .arrow_icon,
  .route_button {
    margin: 0 8px;
  }
  .qna {
    width: 95%;
    margin-top: 50px;
  }

  .search {
    width: 95%;
    margin: auto;
  }

  .search_text_input {
    width: 82%;
    margin: 0;
    font-size: var(--font-size-small);
  }

  .search_button {
    width: 17%;
  }

  .header {
    height: 60px;
    font-size: var(--font-size-small);
  }

  .division {
    display: none;
  }

  .title {
    margin: 0;
    flex-basis: 65%;
    text-align: start;
  }

  .writer {
    flex-basis: 15%;
    text-align: start;
  }

  .date {
    flex-basis: 20%;
  }

  .page_number {
    font-size: var(--font-size-normal);
  }

  .write_button {
    width: 4.5rem;
    height: 2rem;
    font-size: var(--font-size-normal);
    font-weight: 500;
    position: absolute;
    top: 60px;
    right: 20px;
  }
}
