.slick_container {
  width: 100%;
  outline: none;
  position: relative;
  left: 0;
  padding: 0 100px;
  margin-bottom: 100px;
}

.image_box {
  width: 100%;
}

.image {
  width: 90%;
  margin: auto;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 0 10px lightgray;
}

.desc {
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--color-desc);
}
