.inquire_page {
  height: calc(100vh - 70px);
  animation: appear 1s;
  display: flex;
  flex-direction: column;
  padding: 60px 8.2%;
  animation: appear 1s;
}

.inquire_top {
  width: 96%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 1.5px solid var(--color-light-divide-line);
  padding: 16px;
  margin-bottom: 1.5%;
}

.title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_container_one {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  background-color: rgb(16, 193, 172);
  margin-right: 20px;
}

.head_icon {
  font-size: 22px;
  color: white;
}

.title {
  font-size: var(--font-size-mini-title);
  font-weight: 500;
  margin: 0;
  margin-right: 20px;
}

.subtitle,
.subtitle_slash,
.subtitle_right {
  margin: 0;
  margin-top: 4px;
  font-size: var(--font-size-small);
  color: var(--color-desc);
  font-weight: 400;
}

.subtitle_slash {
  margin: 0 8px;
}

.view_no_answer_only_button {
  font-size: var(--font-size-normal);
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--color-admin-theme);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
