.mainpage {
  margin-top: 80px;
  min-height: 100vh;
}

.about {
  height: 600px;
  background: url("../../background_images/main_top.png") center/cover no-repeat;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_filter {
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 80px;
  z-index: 1;
}

.about_title {
  color: white;
  font-size: var(--font-size-big-title);
  font-weight: 500;
  text-align: center;
  z-index: 2;
}

.about_desc {
  color: white;
  font-size: var(--font-size-big);
  font-weight: 300;
  text-align: center;
  z-index: 2;
}

.program_container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
  background: url("../../background_images/main_middle.png") center/cover
    no-repeat;
}

.search_input {
  width: 500px;
  height: 45px;
  font-size: var(--font-size-big);
  font-weight: 700;
  padding: 2px 6px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
}

.search_icon {
  flex-basis: 5%;
  font-size: 24px;
  color: var(--color-desc);
  transition: 100ms all ease-in;
  margin-left: 10px;
}

.search_icon:hover {
  color: var(--color-skyblue);
}

.program_list {
  width: 100%;
  padding: 70px 0;
}
