.attraction_upload_page {
  min-height: calc(100vh - 70px);
  animation: appear 1s;
  display: flex;
  flex-direction: column;
  padding: 60px 8.2%;
  overflow-y: scroll;
  animation: appear 1s;
}

.attraction_top {
  width: 96%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 1.5px solid var(--color-light-divide-line);
  padding: 16px;
  margin-bottom: 20px;
}

.title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_container_one {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  background-color: rgb(171, 135, 222);
  margin-right: 20px;
}

.head_icon {
  font-size: var(--font-size-mini-title);
  color: white;
}

.title {
  font-size: var(--font-size-mini-title);
  font-weight: 500;
  margin: 0;
  margin-right: 20px;
}

.main {
  width: 96%;
  height: auto;
  border: 1.5px solid var(--color-light-divide-line);
  background-color: white;
  padding: 30px 40px 50px 40px;
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section_title {
  margin: 0;
  margin-bottom: 16px;
  font-size: var(--font-size-mini-title);
  font-weight: 500;
  color: var(--color-black);
}

.main_form {
  position: relative;
  padding-bottom: 40px;
}

.form_content {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.form_content_textarea {
  display: flex;
  flex-direction: row;
}

.form_text {
  width: 120px;
  margin: 0;
}

.form_input,
.area_select {
  width: 300px;
  height: 32px;
  outline: none;
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
  padding: 2px 6px;
  font-size: var(--font-size-normal);
}

.form_textarea {
  width: 300px;
  height: 250px;
  outline: none;
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
  resize: none;
  font-size: var(--font-size-normal);
  padding: 6px;
}

.submit_button {
  width: 96%;
  height: 55px;
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: var(--color-admin-theme);
  color: white;
  font-size: var(--font-size-big);
  font-weight: 500;
  padding-top: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.image_preview_container {
  flex-basis: 37%;
}

.image_preview_title {
  font-size: var(--font-size-big);
  font-weight: 500;
  margin: 12px 0;
}

.area_item {
  width: 350px;
  height: 380px;
  background-color: var(--color-smoke-white);
  border-radius: 16px;
  box-shadow: 0 0 10px lightgray;
  transition: 170ms all ease;
  animation: appear 0.6s;
}

.image_container {
  width: 100%;
  height: 190px;
  position: relative;
}

.image_preview {
  width: 350px;
  height: 190px;
  border-radius: 16px 16px 0 0;
}

.region_badge {
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 500;
  background-color: var(--color-light-blue);
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 3px lightgray;
}

.text_container {
  width: 100%;
  height: 190px;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  margin: 0;
  font-size: var(--font-size-big);
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.desc {
  font-size: var(--font-size-small);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.number_of_programs {
  font-size: var(--font-size-small);
  color: var(--color-light-blue);
}

.template_setting_container {
  width: 96%;
  margin-top: 30px;
  padding: 30px 40px 50px 40px;
  background-color: white;
  border: 1px solid var(--color-light-divide-line);
}

.template_input_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.template_selected {
  margin: 0;
}

.template_popup_on_button {
  margin-left: 20px;
  outline: none;
  width: 80px;
  cursor: pointer;
  background-color: var(--color-admin-theme);
  color: white;
  border: none;
  padding: 4px 0;
  font-size: var(--font-size-normal);
  border-radius: 4px;
}

.template_bg_popup_on_button {
  outline: none;
  width: 120px;
  cursor: pointer;
  background-color: var(--color-admin-theme);
  color: white;
  border: none;
  padding: 4px 0;
  font-size: var(--font-size-normal);
  border-radius: 4px;
}

.button_order_setting_and_preview_container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_order_setting_container {
  width: 50%;
  min-width: 280px;
}

.button_order_setting_top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button_order_setting_title {
  margin-top: 0;
  font-size: var(--font-size-big);
  font-weight: 500;
}
.button_order_setting_subtitle {
  margin-top: 0;
  font-size: var(--font-size-normal);
  color: var(--color-desc);
  font-weight: 500;
  margin-left: 20px;
}

.button_order_setting_main {
  width: 90%;
  border: 1px solid var(--color-light-border);
  border-bottom: none;
}

.button_order_setting_main_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid var(--color-light-border);
}

.button_order_setting_main_header_id {
  flex-basis: 8%;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.button_order_setting_main_header_name {
  flex-basis: 55%;
  white-space: nowrap;
  margin: 0;
}

.button_order_setting_main_header_edit {
  flex-basis: 10%;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.popup_filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template_popup_container {
  width: 700px;
  height: 700px;
  background-color: white;
  border: 1px solid lightgray;
  padding: 40px;
  border-radius: 8px;
  animation: popupAppear 0.6s;
  position: relative;
}

.popup_top {
  position: relative;
}

.popup_title {
  font-size: var(--font-size-title);
  font-weight: 500;
  margin: 0;
}

.close_popup_button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size-title);
  cursor: pointer;
  transition: 100ms all ease-in;
}

.close_popup_button:hover {
  color: red;
}

.select_button_container {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.select_button {
  width: 60%;
  height: 50px;
  font-size: var(--font-size-big);
  color: white;
  outline: none;
  border: none;
  background-color: var(--color-admin-theme);
  border-radius: 4px;
  cursor: pointer;
}

.template_button_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-border);
  padding: 12px 20px;
}
.template_button_id {
  flex-basis: 8%;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.template_button_name {
  flex-basis: 55%;
  white-space: nowrap;
  margin: 0;
}

.template_button_icon {
  flex-basis: 10%;
  text-align: center;
  margin: 0;
  font-size: var(--font-size-mini-title);
  color: var(--color-desc);
  cursor: pointer;
}

.template_preview_container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.template_preview {
  width: 15vw;
  height: calc(15vw * 19 / 9);
  border: 1px solid lightgray;
  margin-right: 5%;
  border-radius: 8px;
}

.background_preview {
  width: 15vw;
  height: calc(15vw * 19 / 9);
  border-radius: 8px;
}

.background_popup_main {
  height: 455px;
  margin: 40px 0;
  overflow-y: scroll;
  margin-left: 20px;
}

.bg_image {
  width: 172px;
  height: 170px;
  box-shadow: 0 0 5px var(--color-light-divide-line);
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}

.background_selected {
  border: 2px solid var(--color-light-blue);
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes popupAppear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes filterAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
