.customer_center {
  min-height: 100vh;
  margin-top: 78px;
  background-color: white;
}

.customer_top_banner {
  min-height: 30vh;
  background: url("../../../../background_images/about_top_banner.png")
    center/cover no-repeat;
}

.select_bar_container {
  height: 6vh;
  background-color: var(--color-theme);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 5px 10px lightgray;
}

.select_button {
  width: 28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
  animation: selected 1s;
}

.on {
  color: black;
  background-color: white;
}

.title {
  margin-top: 120px;
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 40px;
}

.route_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home_icon,
.home_icon_container,
.arrow_icon,
.route_button {
  margin: 0 15px;
  color: var(--color-desc);
  font-weight: 300;
}

.home_icon_container,
.route_button {
  cursor: pointer;
}

.article {
  width: 1100px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 30px;
}

.article_top {
  border: 3px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 198, 121, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 198, 121, 1) 0%,
    rgba(0, 198, 121, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(0, 198, 121, 1) 100%
  );
  border-image-slice: 1;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 20px 40px;
}

.article_top_div {
  margin: 10px 0;
}

.article_top_div_two {
  margin: 0;
}

.article_top_div,
.article_top_div_two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.type,
.name,
.article_title,
.date {
  margin: 0;
}

.type,
.name {
  width: 70px;
}

.article_title {
  width: 950px;
}

.article_content {
  border-top: 1.5px solid var(--color-light-border);
  border-bottom: 1.5px solid var(--color-light-border);
  padding: 20px 40px 40px 40px;
  white-space: pre-line;
  min-height: 100px;
}

.go_to_list_button_container {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.go_to_list_button {
  padding: 16px 70px;
  font-size: var(--font-size-normal);
  outline: none;
  border: 2px solid var(--color-theme);
  background-color: transparent;
  color: var(--color-theme);
  border-radius: 32px;
  cursor: pointer;
  transition: 200ms all ease-in;
}

.go_to_list_button:hover {
  background-color: var(--color-theme);
  color: white;
}

@media screen and (max-width: 780px) {
  .customer_center {
    width: 100%;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .article {
    width: 95%;
    margin-top: 70px;
  }

  .article_top {
    padding: 14px 20px;
  }

  .article_top_div {
    flex-direction: column;
  }

  .type {
    display: none;
  }

  .article_title {
    width: auto;
  }

  .name,
  .date {
    color: var(--color-desc);
    font-size: var(--font-size-small);
  }

  .article_content {
    padding: 20px;
  }
}
