.slick-slide {
  transform: scale(0.8) translateY(110px);
  transition: 200ms all ease-in;
}

.slick-center {
  transform: scale(1.4) translateY(90px);
  transition: 200ms all ease-in;
}

.slick_container {
  width: 80%;
  height: 550px;
  margin: auto;
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.image {
  width: 80%;
  outline: none;
  border-radius: 8px;
  margin: auto;
}

.desc {
  text-align: center;
  font-size: var(--font-size-small);
  color: white;
}
