.slick-slide {
  transform: scale(0.8) translateY(110px);
  transition: 200ms all ease-in;
  outline: none;
}

.slick-center {
  transform: scale(1.4) translateY(90px);
  transition: 200ms all ease-in;
}

.slick_container {
  width: 80%;
  height: 550px;
  margin: auto;
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.thumbnail {
  width: 80%;
  outline: none;
  border-radius: 8px;
  margin: auto;
  border: 4px solid white;
}

.title {
  text-align: center;
  font-size: var(--font-size-small);
  color: white;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.item_a_tag {
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .slick-center {
    transform: scale(1.15) translateY(50px);
    transition: 200ms all ease-in;
  }
}
