.theme_item {
  width: 350px;
  height: 380px;
  background-color: var(--color-smoke-white);
  margin: 20px 20px 40px 20px;
  border-radius: 16px;
  box-shadow: 0 0 10px lightgray;
  cursor: pointer;
  transition: 170ms all ease;
}

.area_item:hover {
  transform: scale(1.01);
}

.image_container {
  width: 100%;
  height: 190px;
  position: relative;
}

.image {
  width: 350px;
  height: 190px;
  border-radius: 16px 16px 0 0;
}

.area {
  padding: 3px 10px;
  text-align: center;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 500;
  background-color: #008fff;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 3px lightgray;
}

.text_container {
  width: 100%;
  height: 190px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  margin: 0;
  font-size: var(--font-size-big);
  font-weight: 500;
}

.desc {
  font-size: var(--font-size-small);
}

.price {
  font-size: 18px;
  font-weight: 500;
  color: #008fff;
  margin: 0;
}
