.slick_service_container {
  width: 100%;
  height: 600px;
  margin: auto;
}

.slick_service_container .slick-slider,
.slick_service_container .slick-list,
.slick_service_container .slick-track {
  width: 90%;
  height: 600px;
  margin: auto;
  transform: translateY(-50px);
}

.slick_service_container .thumbnail {
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: 4px solid white;
  cursor: pointer;
  box-shadow: 1px 3px 3px 1px lightgray;
}

.slick_service_container .arrow {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.slick_service_container .title {
  text-align: center;
  font-size: var(--font-size-big);
  color: black;
}

@media screen and (max-width: 780px) {
}
