.header {
  width: 100%;
  height: 80px;
  background-color: var(--color-theme);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 30px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo_container {
  width: 15%;
  height: 65px;
  display: flex;
  align-items: center;
}

.logo {
  width: 180px;
  cursor: pointer;
}

.navbar {
  width: 70%;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_item {
  margin: 0 15px;
  width: 110px;
  height: 80px;
  text-align: center;
  font-size: var(--font-size-normal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu_item_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}

.menu_item_title.on {
  border-bottom: 2px solid white;
}

.login_container {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login {
  margin-right: 50px;
  white-space: nowrap;
  cursor: pointer;
}
.signup {
  cursor: pointer;
  white-space: nowrap;
}

.drop_down_menu {
  display: none;
  margin: 0;
  width: 140px;
  position: absolute;
  top: 82px;
  background-color: rgb(40, 40, 40);
  padding: 10px;
  border-radius: 4px;
  animation: appear 0.3s;
  list-style: none;
}

.drop_down_menu.on {
  display: block;
}

.drop_down_menu_item {
  margin: 24px 0;
  cursor: pointer;
}

.drop_down_menu_item:hover {
  color: skyblue;
}

.toggle_container {
  display: none;
}

.profile_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.logout {
  white-space: nowrap;
  margin-right: 50px;
  cursor: pointer;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  .header {
    width: 100vw;
    height: auto;
    flex-direction: column;
    padding: 0;
  }

  .toggle_container {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: var(--font-size-title);
  }

  .logo_container {
    width: 100vw;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    width: 160px;
    margin: auto;
  }

  .menu_list {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .menu_item {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 16px;
  }

  .menu_item_title {
    height: auto;
    margin: 10px;
  }

  .drop_down_menu {
    height: auto;
    position: relative;
    top: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .drop_down_menu_item {
    margin: 10px 0 20px 0;
  }

  .toggle_on {
    width: 100%;
    display: block;
  }

  .login_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }

  .toggle_off {
    display: none;
  }
}
