.mypage_main {
  width: 570px;
  margin: auto;
  margin-top: 90px;
  animation: appear 0.6s;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile_image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 35px;
  box-shadow: 1px 2px 3px lightgray;
  border: 1px solid var(--color-light-divide-line);
}

.main {
  width: 460px;
  margin-left: 90px;
}

.name_and_point {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name,
.point {
  margin: 0;
}

.name {
  margin-bottom: 8px;
  font-size: var(--font-size-big);
  font-weight: 500;
}

.point {
  color: var(--color-desc);
}

.main {
  padding: 25px 40px;
  margin-bottom: 100px;
}

.input_container {
  margin-bottom: 30px;
}

.input_title {
  margin: 16px 0 6px 0;
}

.input,
.input_short {
  width: 380px;
  height: 40px;
  outline: none;
  border: 1px solid var(--color-light-border);
  border-radius: 4px;
  padding: 0 5px;
  font-size: var(--font-size-normal);
}

.input_short {
  width: 70%;
}

.button_and_input {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.button {
  outline: none;
  border: none;
  background-color: var(--color-theme);
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 780px) {
  .mypage_main {
    width: 100%;
    margin-top: 30px;
  }

  .main {
    padding: 25px 30px;
    margin: 0;
    width: 100%;
  }

  .top {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 0;
  }

  .profile_image {
    width: 120px;
    height: 120px;
    margin-right: 25px;
  }

  .input {
    width: 100%;
  }

  .input_short {
    width: 70%;
  }
  .button {
    width: 27%;
    font-size: var(--font-size-mobile-small);
  }
}
