.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 50px 0;
  border-top: 1px solid lightgray;
}

.button_container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  position: relative;
}

.button_container_absolute {
  position: absolute;
  right: 200px;
}

.icon {
  margin: 0 15px;
  font-size: 22px;
  cursor: pointer;
}

.facebook {
  color: rgb(64, 97, 169);
}

.instagram {
  border-radius: 4px;
  color: white;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-text-fill-color: transparent;
  padding: 2px 0;
}

.youtube {
  color: rgb(247, 0, 4);
}

.logo {
  width: 200px;
}

.company_information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo_container {
  margin-right: 40px;
  text-align: center;
}

.info {
  margin: 8px 0;
  font-size: var(--font-size-small);
  color: var(--color-desc);
}

.copyright {
  margin-top: 25px;
}

@media screen and (max-width: 780px) {
  .footer {
    padding: 0 30px;
  }
  .button_container_absolute {
    position: static;
  }

  .button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
  }

  .company_information {
    flex-direction: column;
  }

  .logo_container {
    margin: 0;
  }

  .logo {
    width: 150px;
    padding: 30px 0;
  }

  .text_data_container {
    font-size: var(--font-size-small);
  }
}
