.item {
  height: 33.4%;
  border-bottom: 1px solid var(--color-light-divide-line);
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.division {
  flex-basis: 10%;
  text-align: center;
}

.division_box {
  font-size: var(--font-size-small);
  color: white;
  width: 90px;
  height: 23px;
}

.complete {
  background-color: rgb(157, 180, 214);
}

.incomplete {
  background-color: rgb(242, 197, 166);
}

.title {
  margin: 6px 0;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user_and_date {
  margin: 0;
  color: var(--color-desc);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.icon {
  color: var(--color-desc);
  position: absolute;
  right: 4%;
}
