.attraction {
  margin-top: 78px;
  min-height: 200vh;
}

.attraction_top_banner {
  min-height: 30vh;
  background: url("../../../background_images/about_top_banner.png")
    center/cover no-repeat;
}

.select_bar_container {
  height: 6vh;
  background-color: var(--color-theme);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 5px 10px lightgray;
}

.select_button {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
  animation: selected 1s;
}

.on {
  color: black;
  background-color: white;
}

.attraction_container {
  margin-top: 120px;
}

.title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 40px;
}

.route_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home_icon,
.home_icon_container,
.arrow_icon,
.route_button {
  margin: 0 15px;
  color: var(--color-desc);
  font-weight: 300;
}

.home_icon_container,
.route_button {
  cursor: pointer;
}

.attraction_main {
  margin-top: 50px;
}

.attraction_title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
}

.search_container {
  width: 58%;
  height: 50px;
  border: 1px solid var(--color-light-border);
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  border-radius: 32px;
  padding: 0 16px 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: appear 0.6s;
}

.search_input {
  width: 95%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-big);
  font-weight: 300;
}

.search_icon {
  width: 5%;
  font-size: 24px;
  transition: 100ms all ease-in;
  margin-left: 10px;
  color: #2e9bd3;
}

.sort_button_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 50px;
}

.sort_button {
  margin-right: 55px;
  color: var(--color-desc);
  cursor: pointer;
  font-size: var(--font-size-small);
}

.sort_last_button {
  color: var(--color-desc);
  cursor: pointer;
  font-size: var(--font-size-small);
  margin-right: 12%;
}

.sort_on {
  color: var(--color-skyblue);
  transition: 100ms all ease-in;
}

.attraction_list_container {
  padding: 0 100px 150px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 780px) {
  .attraction {
    margin-top: 63px;
  }
  .attraction_container {
    margin: 60px 0;
  }

  .route_button_container {
    display: none;
  }

  .search_container {
    width: 85%;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .search_input {
    font-size: var(--font-size-normal);
  }

  .attraction_list_container {
    padding: 0;
  }

  .sort_button_container {
    justify-content: center;
  }
  .sort_last_button {
    margin-right: 10px;
  }
}
