.attraction {
  margin-top: 78px;
}

.attraction_top_banner {
  min-height: 30vh;
  background: url("../../../background_images/about_top_banner.png")
    center/cover no-repeat;
}

.select_bar_container {
  height: 58px;
  background-color: var(--color-theme);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 5px 10px lightgray;
}

.select_button {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
  animation: selected 1s;
}

.on {
  color: black;
  background-color: white;
}

.attraction_container {
  margin-top: 120px;
}

.title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
  margin-bottom: 40px;
}

.route_button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home_icon,
.home_icon_container,
.arrow_icon,
.route_button {
  margin: 0 15px;
  color: var(--color-desc);
  font-weight: 300;
}

.home_icon_container,
.route_button {
  cursor: pointer;
}

.attraction_main {
  margin-top: 50px;
}

.attraction_title {
  text-align: center;
  font-size: var(--font-size-title);
  font-weight: 500;
}

.attraction_list_container {
  padding: 0 100px 150px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 780px) {
  .attraction {
    margin-top: 63px;
  }
  .attraction_container {
    margin: 60px 0;
  }

  .route_button_container {
    display: none;
  }

  .attraction_list_container {
    padding: 0;
  }
}
