:root {
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-big: 20px;
  --font-size-mini-title: 24px;
  --font-size-title: 28px;
  --font-size-big-title: 36px;
  --color-smoke-white: #f8f9fa;
  --color-desc: #4d4d4d;
  --color-light-border: #b8b8b8;
  --color-theme: rgb(40, 40, 40);
  --color-skyblue: #8ed3f3;
}
