:root {
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-big: 20px;
  --font-size-mini-title: 24px;
  --font-size-title: 28px;
  --font-size-little-big-title: 32px;
  --font-size-big-title: 36px;
  --color-smoke-white: #f8f9fa;
  --color-desc: #4d4d4d;
  --color-lightgray: #707070;
  --color-dark-blue: #408ecc;
  --color-light-blue: #008fff;
  --color-light-border: #b8b8b8;
  --color-light-divide-line: #e9e9e9;
  --color-theme: rgb(40, 40, 40);
  --color-skyblue: #8ed3f3;
  --color-black: #232323;
  --color-dark-green: #354e57;
  --color-admin-theme: rgb(48, 61, 77);
  --color-admin-sidebar-text: rgb(181, 187, 197);
}
