@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "/src/constant.css";
@import "/src/font.css";

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  outline: none;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
}

input {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
}

textarea {
  font-family: "Noto Sans KR", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
