.review {
  border-bottom: 1px solid var(--color-light-divide-line);
  border-bottom: 1px solid var(--color-light-divide-line);
  margin: -1px 0;
  padding: 4.1px 12px;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.id_and_star {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.id {
  margin-right: 30px;
}

.date {
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .review {
    font-size: var(--font-size-small);
    padding: 4px 2px;
  }

  .id_and_star {
    margin-right: 0;
  }

  .id {
    margin-right: 12px;
  }
}
